# Cloudflare local dev variables (format tanpa quotes)
# Copy ke .dev.vars dan isi nilainya
# .dev.vars sudah ada di .gitignore

DATABASE_URL=postgresql://postgres.asxcpepirqzwhdxzjyoi:[YOUR-PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres
NEXT_PUBLIC_SUPABASE_URL=https://asxcpepirqzwhdxzjyoi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFzeGNwZXBpcnF6d2hkeHpqeW9pIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk5NjExNjQsImV4cCI6MjA5NTUzNzE2NH0.6-OFnFQzHz0VMZwAEEfv9ZZTnPXlxf4W0l5vbJ8Fm2E
SUPABASE_SERVICE_ROLE_KEY=[YOUR-SERVICE-ROLE-KEY]
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_...
CLERK_SECRET_KEY=sk_...
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
UPLOADTHING_TOKEN=...
OPENAI_API_KEY=sk-...
ANTHROPIC_API_KEY=sk-ant-...
E2B_API_KEY=...
INNGEST_EVENT_KEY=...
INNGEST_SIGNING_KEY=...
UNSPLASH_API_KEY=...
UNSPLASH_SECRET=...
